<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <h2>Keep up to date with everything rugby!</h2><!--links to the social media accounts of the 6 nations-->
    <ion-icon name="logo-facebook"></ion-icon> <a href="https://www.facebook.com/sixnationsrugby/">Facebook</a>
    <br>
    <ion-icon name="logo-twitter"></ion-icon> <a href="https://twitter.com/SixNationsRugby?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
    <br>
    <ion-icon name="logo-youtube"></ion-icon> <a href="https://www.youtube.com/channel/UCL5bAcVfbxSAs-UM5f5ncWg">Youtube</a>
    <br>
    <ion-icon name="logo-instagram"></ion-icon>  <a href="https://www.instagram.com/sixnationsrugby/">Instagram</a>
  
</ion-content>
